* {
    margin: 0px;
    padding: 0px;
}

main,
nav,
article,
aside,
section,
header,
footer {
    display: block;
}

header {
    width: 100%;
    height: 117px;
}

body {
    color: #000000;
    background-color: gainsboro;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
}

.logo {
    height: 100px;
    width: 200px;
    background: url(../images/logoKeshet.jfif)no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
}

img {
    width: 300px;
    height: 300px;
    border-color: white;
    border-style: solid;
}

.imgInModal {
    width: 450px;
    height: 350px;
}

.moreInfoLink {
    background-color: pink;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10ch;
    font-size: 30px;
    color: white;
    text-align: center;
}

.imgesArea {
    overflow-x: scroll;
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 481px) {
    img {
        width: 150px;
        height: 150px;
    }
    #wrapper {
        width: 80%;
    }
}